<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Category</title>
</head>
<body>
	{% extends 'base.html' %}
	{% block page_content %}
	  	<div>
		<!--
			holds the whole blog in place this will fetch the 
			title of the blog and the blog iteself 
		-->
		<h1>{{category}}</h1>
		<hr>
		{% for post in posts %}
		<!--get all the posts in the database -->
		<div class ="container">
			<!--this will be the container of the projects -->
			<div class="row justify-content-center">
				<div class =col-sm-6>
					<!--fetch each blog asper the primary key -->
					<h2><a href={% url 'fetchByPrimarykey' post.pk %}><h5 class="text-primary">{{post.title}}</h5></a></h2>
					<small class="text-success">
					created on {{post.createdOn}}|
						
						{% for category in post.categories.all %}
						<!--fetchin the categories a blog belongs to -->
						<a href={% url "fecthByCategory" category %}>{{category}}</a>
						
						{% endfor %}
					</small>
					<p>{{post.blog}}...</p>


				</div>

			</div>
			
		</div>
		{% endfor %}

	</div>
	{% endblock page_content %}
	
</body>
</html>